/* Colors*/
$fge-grey: #b5b5b5;
$fge-blue: #007bde;

$title-color: $fge-blue;

$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// Material
$material-transition-parameters: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  max-height: 100%;
  padding: 2.5rem;
  color: #1f1f1f;
  font: 1.4rem/1.42857143 $roboto;
}

h1 {
  margin: 2rem 0;
  color: $fge-blue;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

h3 {
  margin: 1rem 0;
  color: #048cf9;
  font-size: 2.1rem;
  line-height: 2.5rem;
}

p, li {
  margin: 0 0 .5em;
  max-width: 76rem;
  word-wrap: break-word;
  font-size: 1.6rem;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0 0 2rem 2rem;
}

.material-table {
  position: relative;
  max-width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border: medium none;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  vertical-align: top;
  z-index: 50;
  transition: all $material-transition-parameters;

  thead {
    border-bottom: 1px solid $fge-grey;
  }

  tbody {
    tr {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  td, th {
    height: 4.8rem;
    font-size: 1.3rem;
    text-align: left;
    vertical-align: middle;
    transition: all $material-transition-parameters;
  }

  th {
    position: relative;
    text-transform: uppercase;

    &:empty {
      height: 4rem;
      padding: 0;
    }

    &::after {
      content: "";
      position: absolute;
      transition: all $material-transition-parameters;
      z-index: 100;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .07);

      &::after {
        left: 0;
        top: 0;
        width: 100%;
        height: 500rem;
        border-left: thin solid rgba(0, 0, 0, .07);
        border-right: thin solid rgba(0, 0, 0, .07);
        pointer-events: none;
      }
    }
  }

  td {
    padding: 0.1rem 2.4rem;
  }

  tbody > tr:hover > td {
    background-color: rgba(0, 0, 0, .05);
  }

  &.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .03);
  }
}

.drag {
  &-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &-marker {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: w-resize;
    z-index: 55;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 500rem;
      background-color: #000;
      z-index: 55;
      opacity: 0;
    }

    &:active,
    &:hover,
    &:focus {
      &::after {
        opacity: 1;
      }
    }
  }

  &-th-content {
    position: relative;
    top: 50%;
    padding: 0 1.5rem;
    transform: translateY(-50%);
  }
}
